<% @announcements.each do |item| %>
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="<%= item.picture %>">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4"><%= item.title %></p>
          <p class="subtitle is-6">
            <time datetime="2016-1-1"><%= item.created_at.strftime(("%F %R")) %></time>
            <span class="tag"><%= item.category.name %></span>
          </p>
        </div>
      </div>

      <div class="content">
        <%= item.description %>
        <div class="price"><%= item.price %> €</div>
        <br>
        <% if user_signed_in? %>
          <button class="button is-primary" data-target="<%= item.id %>"><%= t('announcements.contact') %></button>
        <% else %>
          <a class="button is-primary" href="<%= url_for(action: 'new', controller: 'devise/sessions') %>" data-target="<%= item.id %>"><%= t('announcements.contact') %></a>
        <% end %>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <div class="modal">
      <div class="modal-background"></div>
      <div class="modal-content" id="modal">
        <!-- Any other Bulma elements you want -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
  <% end %>
<% end %>