<%= form_for @announcement, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>

  <div class="field">
    <%= f.label :title %>
    <div class="control">
      <%= f.text_field :title , class: 'input'%>
    </div>
  </div>
  <div class="field">
    <%= f.label :description, t('announcements_new.description') %>
    <div class="control">
      <%= f.text_area :description, class: 'input' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :price, t('announcements_new.price') %>
    <div class="control">
      <%= f.number_field :price , class: 'input' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :category_id , t('announcements_new.category')%>
    <div class="select">
      <%= f.select(:category_id) do %>
        <% @categories.each do |c| -%>
          <%= content_tag(:option, c.name, value: c.id) %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= f.label :picture, t('announcements_new.image') %>
    <div class="control">
      <%= f.file_field :picture %>
    </div>
  </div>


  <%= f.submit t('navbar.create'), class: 'button is-primary'%>
<% end %>


<!--<div class="field">-->
<!--  <label class="label">Name</label>-->
<!--  <div class="control">-->
<!--    <input class="input" type="text" placeholder="Text input">-->
<!--  </div>-->
<!--</div>-->