<% content_for :content do %>
  <div class="tabs">
    <ul>
      <li class="<%= 'is-active' if controller_name == 'messages' %>"><a href="./messages">Mes messages</a></li>
      <li class="<%= 'is-active' if controller_name == 'contacts' %>"><a href="./contacts">Mes contacts</a></li>
      <li class="<%= 'is-active' if controller_name == 'profile' %>"><a href="./profile">Mon profil</a></li>
    </ul>
  </div>
  <%= yield %>
<% end %>
<%= render template: 'layouts/application' %>