<% content_for :content do %>
  <div class="tabs">
    <ul>
      <li class="<%= 'is-active' if controller_name == 'profile' %>">
        <a href="<%= url_for(action: 'index', controller: 'account/profile') %>">
          <span>Mon profil</span>
        </a>
      </li>
      <li class="<%= 'is-active' if controller_name == 'messages' %>">
        <a href="<%= url_for(action: 'index', controller: 'account/messages') %>">
          <span>Mes messages</span>
        </a>
      </li>
      <li class="<%= 'is-active' if controller_name == 'contacts' %>">
        <a href="<%= url_for(action: 'index', controller: 'account/contacts') %>">
          <span>Mes contacts</span>
        </a>
      </li>
    </ul>
  </div>
  <%= yield %>
<% end %>

<%= render template: 'layouts/application' %>